<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aplicación CRUD VUE JS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app" class="container">
    <h2>Tareas</h2>

    <ul class="list-group tasks">
      <li is="app-task" v-for="(task, index) in tasks" :task="task" :index="index" @remove="deleteTask"></li>
    </ul>
    <p><a @click="deleteCompleted" href="#">Eliminar tareas completadas</a></p>
    <form @submit.prevent="createTask" action="" class="new-task-form">
      <input v-model="new_task" type="text" class="form.control">
      <button class="btn btn-primary">Crear Tarea</button>
    </form>

    <footer class="footer">
      <p>&copy; 2018 Styde.net</p>
    </footer>

  </div>
  <script src="vue.js"></script>

  <script type="text/x-template" id="task-template">
    <li class="list-group-item" :class="{editing: task.editing, completed: !task.pending}">
      <a @click="toggleStatus">
        <app-icon :img="task.pending ? 'unchecked' : 'check'"></app-icon>
      </a>
      <template v-if="!task.editing">
        <span class="description">{{ task.description }}</span>

        <div style="float: right">
          <a @click="edit">
            <app-icon img="edit"></app-icon>
          </a>
          <a @click="remove">
            <app-icon img="trash"></app-icon>
          </a>
        </div>

      </template>

      <template v-else>
        <input class="description" type="text" v-model="draft">
        <div style="float: right">
          <a @click="update">
            <app-icon img="ok"></app-icon>
          </a>
          <a @click="discard">
            <app-icon img="remove"></app-icon>
          </a>
        </div>
      </template>
    </li>
  </script>
  <script src="app.js"></script>
</body>
</html>
